<div id='indexMain'>
  <div id='indexTop'>
    <h1>Jason's Mystical Scrivenings</h1>
    
  </div>
  <div id='articles'>
    <% @articles.each do |article| %>
        <div class='articleBox'>
          <div class='boxHeader'>
            <h2><%= article.title %></h2>
            <%= link_to 'view full article', article %>
          </div>
        <p><%= article.body %></p>
        </div>
    <% end %>
  </div>
  
  <div id='footer'>
  <%= link_to "New Article", new_article_path %>
  </div>
</div>






