<div id="index_main">
  <div id="index_top">
    <h1>Jason's Mystical Scrivenings</h1>
    
  </div>
  <div id='articles'>
    <% @articles.each do |article| %>
      
        <%= link_to article.title, article %>
      
    <% end %>
  </div>
  
  <div id='footer'>
  <%= link_to "New Article", new_article_path %>
  </div>
</div>






